section#about
  .about
    p Some might ask how I started learning to code. One day I came across a Facebook ad learning about coding, I was curious to find out what it is all about. I started "to google" what coding is. I went through couple webinars and then decided to read articles what are the best learning tools out there. I starting taking different courses, the more I learn about coding the more I see how we use it in our everyday life.  I'm so grateful I have came across learning it and I'm proud to say I'm a self taught programmer.
    img(src="./assets/img/profile.jpg" alt="profile image")