nav.menu
  a.logo(href='http://gloria-lee.com') Gloria Lee
  button.navbar(aria-expanded='false')
    span.open ☰
    span.close ×
  ul.menu-list
    li
      a.menu-item(href='#about') About 
    li
      .menu-item.portfolio Portfolio &darr;
      ul.project-list
        li
          a(href='#projectOne') Now That's Delicious
        li
          a(href='#projectTwo') YelpCamp
    li
      .menu-item.contactNav Contact &darr;
      ul.contact-info
        li
          i.fa.fa-envelope
            a(href="mailto:glorialee1@yahoo.com" target="_blank") glorialee1@yahoo.com
        li
          i.fa.fa-github
            a(href="https://github.com/gmgl21" target="_blank") gmgl21
        li
          i.fa.fa-linkedin
            a(href="https://www.linkedin.com/in/gloriamlee" target="_blank") Gloria M Lee
            
button.contactBtn 
  i.fa.fa-comment 
ul.contactList
  li
    i.fa.fa-envelope
      a(href="mailto:glorialee1@yahoo.com" target="_blank") glorialee1@yahoo.com
  li
    i.fa.fa-github
      a(href="https://github.com/gmgl21" target="_blank") gmgl21
  li
    i.fa.fa-linkedin
      a(href="https://www.linkedin.com/in/gloriamlee" target="_blank") Gloria M Lee

  