section.portfolio#portfolio
  .projectThree#projectThree
    a(href="https://apex.org" target="_blank")
      img.portfolio__img(src="./assets/img/apex-org.gif" alt="APEX")
    .portfolio__about
      h4 Title
        span APEX 
      h4 Tools
        span HTML, CSS, PHP, MySQL, WordPress, Mailchimp
      .description Description 
        p Rebuilt non-profit organization website on WordPress, reevaluated and modified all pages for improved usability and SEO. Created custom post types archive pages and added pagination to custom post types archive pages. Created custom post types and custom taxonomies.Migrated website from subdomain to main domain. Added MailChimp signup form to WordPress website without a plugin. Created email account in the cPanel. Managed the website from front end to back end.
      ul.portfolio__buttons
        li
          a.demo(href="https://apex.org" target="_blank") View Website
  .projectTwo#projectTwo
    a(href="https://now-thatsdelicious.herokuapp.com/" target="_blank")
      img.portfolio__img(src="./assets/img/nowThatsDelicious.gif" alt="Now That's Delicious")
    .portfolio__about
      h4 Title
        span Now That's Delicious 
      h4 Tools
        span HTML, CSS, Javascript, Node.js, Express.js, Passport.js, MongoDB
      .description Description 
        p A web app you can view restaurants with a short description and a google map location of it. Once you sign up/login, you can add/edit restaurants, add reviews, view a list of top rated restaurants, and view restaurants by different tags.
      ul.portfolio__buttons
        li
          a.demo(href="https://now-thatsdelicious.herokuapp.com/" target="_blank") View Demo
        li
          a.code(href="https://github.com/gmgl21/now-thats-delicious" target="_blank") Code
  .projectOne#projectOne
    a(href="https://addyelpcamp.herokuapp.com/" target="_blank")
      img.portfolio__img(src="./assets/img/yelpcamp.gif" alt="YelpCamp")
    .portfolio__about
      h4 Title 
        span YelpCamp
      h4 Tools 
        span HTML, CSS, Javascript, Node.js, Express.js, Passport.js, MongoDB
      .description Description 
        p A web app built from scratch that you can view campgrounds with a short description and a google map location of it. Once you sign up/login, you can add/edit/delete campgrounds and comments of yours.
      ul.portfolio__buttons
        li
          a.demo(href="https://addyelpcamp.herokuapp.com/" target="_blank") View Demo
        li
          a.code(href="https://github.com/gmgl21/yelpcamp" target="_blank") Code

      

    
    
  