section.portfolio#portfolio
  .projectOne#projectOne
    img.portfolio__img(src="./assets/img/nowThatsDelicious.gif" alt="Now That's Delicious")
    .portfolio__about
      h4 Title
        span Now That's Delicious
      h4 Tools
        span HTML, CSS, Javascript, Node.js, Express.js, Passport.js, MongoDB
      h4 Description 
        article A web app you can view restaurants with a short description and a google map location of it. Once you sign up/login, you can add/edit restaurants, add reviews, view a list of top ratedrestaurants, and view restaurants by different tags.
      .portfolio__buttons
        a.code(href="https://github.com/gmgl21/now-thats-delicious" target="_blank") Code
        a.demo(href="https://now-thatsdelicious.herokuapp.com/" target="_blank") View Demo
  .projectTwo#projectTwo
    img.portfolio__img(src="./assets/img/yelpcamp.gif" alt="YelpCamp")
    .portfolio__about
      h4 Title 
        span YelpCamp
      h4 Tools 
        span HTML, CSS, Javascript, Node.js, Express.js, Passport.js, MongoDB
      h4 Description 
        article A web app built from scratch that you can view campgrounds with a short description and a google map location of it. Once you sign up/login, you can add/edit/delete campgrounds and comments of yours.
      .portfolio__buttons
        a.code(href="https://github.com/gmgl21/yelpcamp" target="_blank") Code
        a.demo(href="https://addyelpcamp.herokuapp.com/" target="_blank") View Demo
  .projectThree#projectThree
    img.portfolio__img(src="./assets/img/simongame.png" alt="Simon Game")
    .portfolio__about
      h4 Title 
        span Simon Game
      h4 Tools 
        span HTML, CSS, Javascript, jQuery
      h4 Description 
        article A web app for the classic Simon Game: 
          ul 
            li The player is presented with a random series of button presses. 
            li Player hears a sound that corresponds to each button both when the series of button presses plays, and when the player personally press a button. 
            li Each time the player inputs the series of button presses correctly, it will replay the same series of button presses and an additional step. 
            li The player will be notified if the buttons are wrong. If played in strict mode, if it is wrong button the game restarts at level 1, otherwise that series of button presses starts again to remind the player of the pattern so the player can try again.
      .portfolio__buttons
        a.code(href="https://github.com/gmgl21/js-simon-game" target="_blank") Code
        a.demo(href="https://js-simon-game.herokuapp.com/" target="_blank") View Demo
  .projectFour#projectFour
    img.portfolio__img(src="./assets/img/ticTacToe.gif" alt="Tic Tac Toe")
    .portfolio__about
      h4 Title 
        span Tic Tac Toe
      h4 Tools 
        span HTML, CSS, Javascript, jQuery
      h4 Description 
        article A tic tac toe game player play against AI.
      .portfolio__buttons
        a.code(href="https://github.com/gmgl21/js-tictactoe-game" target="_blank") Code
        a.demo(href="https://js-tictactoe-game.herokuapp.com/" target="_blank") View Demo
      

    
    
  