section.portfolio#portfolio
  .projectOne#projectOne
    a(href="https://now-thatsdelicious.herokuapp.com/" target="_blank")
      img.portfolio__img(src="./assets/img/nowThatsDelicious.gif" alt="Now That's Delicious")
    .portfolio__about
      h4 Title
        span Now That's Delicious 
      h4 Tools
        span HTML, CSS, Javascript, Node.js, Express.js, Passport.js, MongoDB
      .description Description 
        p A web app you can view restaurants with a short description and a google map location of it. Once you sign up/login, you can add/edit restaurants, add reviews, view a list of top rated restaurants, and view restaurants by different tags.
      ul.portfolio__buttons
        li
          a.demo(href="https://now-thatsdelicious.herokuapp.com/" target="_blank") View Demo
        li
          a.code(href="https://github.com/gmgl21/now-thats-delicious" target="_blank") Code
  .projectTwo#projectTwo
    a(href="https://addyelpcamp.herokuapp.com/" target="_blank")
      img.portfolio__img(src="./assets/img/yelpcamp.gif" alt="YelpCamp")
    .portfolio__about
      h4 Title 
        span YelpCamp
      h4 Tools 
        span HTML, CSS, Javascript, Node.js, Express.js, Passport.js, MongoDB
      .description Description 
        p A web app built from scratch that you can view campgrounds with a short description and a google map location of it. Once you sign up/login, you can add/edit/delete campgrounds and comments of yours.
      ul.portfolio__buttons
        li
          a.demo(href="https://addyelpcamp.herokuapp.com/" target="_blank") View Demo
        li
          a.code(href="https://github.com/gmgl21/yelpcamp" target="_blank") Code

      

    
    
  