.intro {
  display: grid;
  grid-template-areas: "intro";
  padding: 25vh 20px;
  background-color: #000;
  min-height: 100vh;
}

.intro h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  word-spacing: 0.25em;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

@media(max-width: 900px) {
  .intro h1 {
    font-size: 75px;
  }
}

@media(max-width: 700px) {
  // .intro {
  //   padding: 220px 20px 0 20px;
  // }
  
  .intro h1 {
    font-size: 56px;
  }
}

@media(max-width: 400px) {
  .intro h1 {
    font-size: 42px;
  }
}