.portfolio {
  display: grid;
  padding-bottom: 30px;
}

.projectOne,
.projectThree{
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 50px;
  background: $silver;
  padding: 20px;
}

.projectTwo {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 50px;
  background: $white;
  padding: 20px;
}

.portfolio__img {
  width: 33vw;
  height: auto;
}

.portfolio__about {
  display: grid;
  font-family: 'Roboto', sans-serif;
}

.portfolio__about h4,
.description {
  display: block;
  font-weight: 700;
  color: #000;
  margin: 5px 0;
  font-size: 20px;
  line-height: 1.7em;
}

.portfolio__about span {
  text-align: right;
  margin: 0 20px;
  font-weight: 500;
  font-size: 20px;
}

.description p {
  font-weight: 500;
  font-size: 20px;
}


.portfolio__about li:last-child {
  margin-bottom: 25px;
}

ul.portfolio__buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

a.demo {
  margin-right: 10px;
}

a.code {
  margin-left: 10px;
}

a.demo,
a.code {
  display: flex;
  background: $charcoal;
  border-radius: 10%;
  width: 150px;
  height: 75px;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
}

@media(max-width: 900px) {
  .portfolio__about h4,
  .portfolio__about span,
  .description,
  .description p {
    font-size: 1.1em;
  }
  
  .portfolio__about h4 {
  margin: 2px 0;
  }
  
  
  a.code,
  a.demo {
    font-size: 1.1em;
    width: 110px;
    height: 55px;
    font-weight: 500;
  }
}

@media(max-width: 800px) {
  .portfolio {
    margin-top: 10px;
    padding-bottom: 80px;
  }
  
  .projectOne,
  .projectTwo,
  .projectThree{
    grid-column: 1 / -1;
    grid-template-areas:
     "portfolio-img"
     "portfolio-about";
    padding: 30px 0;
    margin: 0;
    grid-gap: 10px;
    width: 100vw;
    place-items: center;
  }
  
  .portfolio__img {
    grid-area: portfolio-img;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
  }
  
  .portfolio__about { 
    grid-area: portfolio-about;
    width: 75%;
  }
}

